<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
  {{ message }}
  <h1 v-if="false">Vue is awesome!</h1>
  <h1 v-else>Oh no 😢</h1>

  <input v-model.trim="msg">
  <ul>
    <li v-for="(item, index) in items">
      {{ parentMessage }} - {{ index }} - {{ item.message }}
    </li>
  </ul>
</div>



</body>
</html>
<script>

  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!',
      awesome: true,
      parentMessage: 'Parent',
      msg:'',
      items: [
        { message: 'Foo' },
        { message: 'Bar' }
      ]
    }
  })
</script>
